.header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 justify-items: center;
 gap: 24px;
 
& .header-sec{
    width: 100%;
    
    
}
& .header-search{
    width:100%;
}


}

.header-pic img{
    width: 100%; 
    object-fit: cover;
    
}