.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 24px;

  & .header-sec {
    width: 100%;
  }
  & .header-search {
    width: 100%;
  }
}

.header-pic img {
  width: 100%;
  object-fit: cover;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 20px;

  & .header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 58px;
  }
  & .header-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;
    color: #84bd00;
  }
}
.header-hr {
  width: 35rem;
  margin-top: 2rem;
  color: #00000040;
}
